.advantages__list {
  @include itemList();
}

.advantages__item {
  @media screen and (min-width: 768px) {
    @include cardWidth(1, 30px, 2);
  }

  @media screen and (min-width: 1200px) {
    @include cardWidth(3, 30px, 4);
  }
}

.advantages__thumb {
  @include flexContainer();
  height: 120px;
  margin-bottom: 30px;
  background-color: getBgColor('main');
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: getFontWeight('bold');
  font-size: getFontSize('main');
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

    @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.advantages__text {
  line-height: 1.71;
  color: getColor('primary-text');
}