.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #ffffff;
  transform: translateX(100%);
  @include transitionFunction(transform);

  &.is-open {
    transform: translateX(0);
  }
}

.mobile-menu__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  padding-left: 40px;
  padding-right: 40px;
  overflow: auto;
}

.navigation__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.navigation__link {
  font-weight: getFontWeight('medium');
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: inherit;

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

.mobile-menu__info-box {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.contact-info__item {
  &:first-child {
    margin-bottom: 32px;
  }
}
.contact-info__link {
  font-size: 20px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: getFontWeight('medium');
  color: getColor('primary-text');

  @media screen and (min-width: 375px) {
    font-size: 24px;
  }
}

.contact-info__link--accent {
  font-size: 26px;
  line-height: 1.17;
  color: getColor('accent');

  @media screen and (min-width: 380px) {
    font-size: 34px;
  }
}
.mobile-menu__socials {
  @include itemList(10px);
}
.mobile-menu__link {
  display: flex;
  align-items: center;
  font-size: getFontSize('bigger');
  font-weight: getFontWeight('medium');
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: getColor('accent');

  .mobile-menu__item:not(:last-child) > &::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 22px;
    margin-left: 10px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}
