@mixin transitionFunction($property, $time: 250ms, $function: cubic-bezier(0.4, 0, 0.2, 1)) {
  transition-property: $property;
  transition-duration: $time;
  transition-timing-function: $function;
}

@mixin bordered($color, $width: 1px, $type: solid) {
  border: $width $type $color;
}

@mixin flexContainer($type: flex) {
  display: $type;
  align-items: center;
  justify-content: center;
}

@mixin cardWidth($intervalQuantity, $interval, $cardQuantity) {
  width: calc((100% - $intervalQuantity * $interval) / $cardQuantity);
}

// @mixin cardWidth($count, $interval: 30px) {
//   width: calc((100% - ($count - 1) * $interval) / $count);
// }

@mixin itemList($interval: 30px) {
  display: flex;
  flex-wrap: wrap;
  gap: $interval;
}

// @mixin retina {
//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     @content;
//   }
// }

// @mixin mobile {
//   @media screen and (min-width: 480px) {
//     @content;
//   }
// }

// @mixin tablet {
//   @media screen and (min-width: 768px) {
//     @content;
//   }
// }

// @mixin desktop {
//   @media screen and (min-width: 1200px) {
//     @content;
//   }
// }
